# Node.js
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
build/
dist/

# Environment variables
.env

# macOS
.DS_Store

# Editor/IDE
.idea/
.vscode/
*.swp

# Coverage reports
coverage/

# Temporary files
*.tmp
*.bak


# Ignore everything in the public/uploads folder
public/uploads/*